---
layout: dev
title: 程序员英语词汇宝典
---

<div class="word-table">
  <div class="item-header">
    <div class="word">
      <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <ellipse ry="30" rx="16" cy="32" cx="32" class="layer-2"></ellipse>
        <path d="M4.5 32h55M32 2v60" class="layer-2"></path>
        <circle r="30" cy="32" cx="32"></circle>
      </svg>
      <div>单词</div>
    </div>

    <div class="meaning">
      <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M11 44l-8 8 8 8m42-40l8-8-8-8"></path>
        <path d="M60.8 12H12A10 10 0 0 0 2 22a10 10 0 0 0 10 10h40a10 10 0 0 1 10 10 10 10 0 0 1-10 10H3"></path>
      </svg>
      <div>翻译</div>
    </div>


    <div class="wrong mobile-hide">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g transform="translate(0.000000,24.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
          <path d="M45 195 c-26 -25 -32 -68 -15 -95 5 -9 5 -19 -2 -27 -8 -10 -4 -13
                  21 -13 28 0 31 3 31 31 0 26 -2 30 -15 19 -12 -10 -15 -7 -20 13 -13 51 38 92
                  84 68 41 -23 36 -92 -9 -106 -32 -10 -24 -27 9 -20 24 5 33 1 50 -22 18 -22
                  24 -25 32 -13 6 11 2 21 -15 36 -21 18 -24 28 -19 62 5 34 1 44 -20 66 -34 34
                  -79 34 -112 1z" />
        </g>
      </svg>

      <div>词性</div>
    </div>

    <div class="correct">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M15.74 30l12 14 34-42"></path>
        <path d="M53.443 32A26.002 26.002 0 1 1 27.75 10a25.914 25.914 0 0 1 10 1.993"></path>
      </svg>
      <div>美式发音</div>
    </div>

    <div class="note mobile-hide">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M24 51.9a8 8 0 0 1 8 8v-44a8 8 0 0 0-8-8H2v44zm8-36a8 8 0 0 1 8-8h22v44H40a8 8 0 0 0-8 8"></path>
        <path d="M10 20h14m-14 8h14m-14 8h14m16-16h14m-14 8h14m-14 8h14"></path>
      </svg>
      <div>实例应用</div>
    </div>

  </div>

  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  {% assign number = forloop.index %}
  <div class="category-label"><span>0{{ number }}. {{ category_name }}</span></div>
  {% for post in site.categories[category_name ] reversed %}
  <div class="item" id="{{ post.word }}">
    <div class="word"><span>{{ post.word }}</span></div>
    <div class="meaning">{{ post.meaning }}</div>
    <div class="wrong mobile-hide">
      {{ post.category }}
    </div>
    <div class="correct">{{ post.correct }}
      <a onclick="playWordAudio('{{ post.title }}')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink"
          class="audio-icon">
          <path d="M44.2 21.8a12 12 0 0 1 0 20.5" class="ani-path"></path>
          <path d="M50 16a20 20 0 0 1 0 32" class="ani-path-2"></path>
          <path d="M38 6L20 24H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12l18 18z" class="ani-path-3"></path>
        </svg>
      </a>
    </div>

    <div class="note mobile-hide"><span>{{ post.note }}<span></div>
  </div>
  {% endfor %}
  {% endfor %}

</div>