<!DOCTYPE html>
<html lang="zh-cmn-Hant">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="assets/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="author" content="JJ Ying" />

	<meta name="description" content="设计师经常念错的单词"/>

	<link rel="icon" href="https://anw.red/anyway.fm/favicon-16.png" sizes="16x16">
	<link rel="icon" href="https://anw.red/anyway.fm/favicon-local.png" sizes="32x32">
	<link rel="icon" href="https://anw.red/anyway.fm/favicon-96.png" sizes="96x96">
	<link rel="apple-touch-icon" href="https://anw.red/anyway.fm/apple-touch-icon-precomposed.png">
  </head>

  <body>
    <div class="mask mt"></div>
    <div class="mask mb"></div>
    <div class="mask mv ml"></div>
    <div class="mask mv mr"></div>
    <div class="mask mv ml2"></div>
    <div class="mask mv mr2"></div>
    <aside>
      <div class="logo">
        <img src="https://anw.red/anyway.fm/logo.svg"/>
        <!-- Anyway.ABC -->
      </div>
    </aside>
