*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
html{
	background: #ffe324;
}
body{
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	color: #555;
	font-size: 62.5%;
	text-align: center;
	background: #fff;
}
a{
	text-decoration: none;
	transition: all .1s ease-in-out;
}
::selection{
	background: #ffe324;
	color: #fff;
	text-shadow: none;
}
ol, ul{
	list-style-position: inside;
}
/*~Fonts*/
@font-face {
	font-family: 'Anyway Type';
	src: url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff2') format('woff2'),
		url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Anyway Type';
	src: url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff2') format('woff2'),
	url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}
.mask{
	position: fixed;
	z-index: 999;
	border: .4rem solid #ffe324;
	background: #ffe324;
	will-change: transform;
}
.mt, .mb{
	height: 0;
	width: 100%;
	left: 0;
}
.mb{
	bottom: 0;
}
.mt{top: 0;}
.mv{
	bottom: 0;
	height: 999em;
	width: 0;
}
.ml,.ml2{left: 0;}
.mr,.mr2{right: 0;}
.ml2,.mr2{bottom: none;top: 0;}

/*~Footer*/
footer{
	padding: 2em 0;
	color: #fff;
	display: block;
}

/*~Main*/
main{
	min-height: 100vh;
	display: block;
	padding: 4em 5%;
	line-height: 1.65;
	font-size: 1rem;
	max-width: 80em;
	margin: 0 auto;
	/* animation: slowShow .3s cubic-bezier(1,0,.5,.5) 0s; */
}
@keyframes slowShow {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
h1{
	font-size: 3em;
	color: #555;
	font-weight: 700;
	font-feature-settings: 'tnum';
	font-family: 'Calluna';
}
h2{
	font-size: 1.5em;
	color: #ffe324;
	font-weight: 700;
	margin: .5em 0 .5em;
	letter-spacing: .1em;
	position: relative;
}
.tagline{
	margin: 0 0 3em;
}

/* ~Word List */
.item{
	border-bottom: 1px dotted #ddd;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	padding: .5em 1rem;
	transition: all .25s cubic-bezier(.5,0,.5,.5) 0s;
	font-size: .875rem;
}
.item:nth-child(2n){
	background: #fcfcfc;
}
.item:hover{
	background: #ffe324;
	color: #222;
}
.item.item-header{
	font-size: .75rem;
	position: -webkit-sticky;
  position: sticky;
	top: .8rem;
	font-weight: 400;
	color: #666;
	background: #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 -.1em 0 #fff;
	z-index: 9;
}
.item-header:hover{
	background: #fff;
}
.category-label{
	/* border-bottom: 1px dotted #f5f5f5; */
	text-align: left;
	font-weight: 400;
	font-size: .75rem;
	background: #f5f5f5;
	color: #999;
	padding: .2em 1rem;
	display: flex;
	align-items: center;
	margin: 4em 0 0;
}
.category-label:nth-of-type(2){
	margin: 0;
}
.word{
	flex-basis: 15%;
	font-weight: 700;
	font-size: 1rem;
}
.item-header .word{
	font-size: .75rem;
	font-weight: 400;
}
.word span{
	position: relative;
	z-index: 1;
	text-shadow: 1px 0 0 #fff,
	-1px 0 0 #fff,
	1px 0 0 #fff;
	transition: all .25s cubic-bezier(.5,0,.5,.5) 0s;
}
.item:hover .word span{
	text-shadow: 1px 0 0 #ffe324,
	-1px 0 0 #ffe324,
	1px 0 0 #ffe324;
}
.word span:after{
	background: #ffe324;
	position: absolute;
	width: 100%;
	height: 2px;
	content: "";
	bottom: 0;
	left: 0;
	z-index: -9;
	transition: all .25s cubic-bezier(.5,0,.5,.5) 0s;
	will-change: transform;
}
.item:hover .word span:after{
	/* background: #fff; */
	transform: scale(0,1.1);
	transition-duration: .1s;
}
.meaning{
	flex-basis: 25%;
	font-weight: 400;
	display: flex;
	align-items: center;
}
.correct{
	flex-basis: 20%;
	font-family: sans-serif;
	display: flex;
	align-items: center;
}
.correct a{
	height: 1rem;
	padding: 0 .5em;
	cursor: pointer;
}
.correct svg{
	width: 1rem;
	height: 1rem;
	fill: none;
	stroke: #999;
	stroke-miterlimit: 10px;
	stroke-width: 4px;
	stroke-linejoin: round;
	stroke-linecap: round;
	transition: all .5s cubic-bezier(.5,0,.5,.5) 0s;
}
.playing .correct svg{
	stroke: #333;
}
.playing .ani-path{
	animation: audio-icon .6s ease-in-out .45s infinite;
}
.playing .ani-path-2{
	animation: audio-icon .6s ease-in-out .1s infinite;
}
@keyframes audio-icon {
	0%{opacity: 0;}
	40%{opacity: 1;}
	60%{opacity: 1;}
	100%{opacity: 0;}
}
.item:hover .correct svg{
	stroke: #333;
}
.wrong{
	flex-basis: 15%;
	display: flex;
	align-items: center;
}
.note{
	flex-grow: 2;
	flex-basis: 15%;
	display: flex;
	align-items: center;
}
.note a{
	text-decoration: underline;
	display: inline;
	text-decoration-style: dotted;
	color: #333;
}
