*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
html{
	background: #ffe324;
}
body{
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	color: #444;
	font-size: 62.5%;
	text-align: center;
	display: flex;
	flex-direction: row;
	background: #fff;
}
a{
	text-decoration: none;
	transition: all .1s ease-in-out;
}
::selection{
	background: #ffe324;
	color: #fff;
}
ol, ul{
	list-style-position: inside;
}
/*~Fonts*/
@font-face {
	font-family: 'Anyway Type';
	src: url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff2') format('woff2'),
		url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Anyway Type';
	src: url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff2') format('woff2'),
	url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}
.mask{
	position: fixed;
	z-index: 9999;
	border: .4rem solid #ffe324;
	background: #ffe324;
}
.mt, .mb{
	height: 0;
	width: 100%;
	left: 0;
}
.mb{
	bottom: 0;
}
.mt{top: 0;}
.mv{
	bottom: 0;
	height: 999em;
	width: 0;
}
.ml,.ml2{left: 0;}
.mr,.mr2{right: 0;}
.ml2,.mr2{bottom: none;top: 0;}

.nav-sub li a{
	/* border-left: .4em solid #ffe324; */
}
/*~Footer*/
footer{
	padding: 2em 0;
	color: #fff;
	display: block;
}
.site-title{
	font-size: 2rem;
	font-weight: 700;
}
.logo{
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	padding: .4em 0;
	line-height: 1;
	font-weight: 700;
	background: #fff;
	color: #333;
}
.logo img{
	max-width: 80%;
}

/*~Main*/
main{
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	color: #555;
	display: block;
	text-align: left;
	padding: 4em 12em;
	flex-grow: 1;
	line-height: 1.65;
	font-size: 1rem;
	position: relative;
	animation: slowShow .3s cubic-bezier(1,0,.5,.5) 0s;
}
@keyframes slowShow {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
h1{
	font-size: 3em;
	color: #555;
	font-weight: 700;
	font-feature-settings: 'tnum';
	font-family: 'Calluna';
}
h2{
	font-size: 1.5em;
	color: #ffe324;
	font-weight: 700;
	margin: .5em 0 .5em;
	letter-spacing: .1em;
	position: relative;
}

.tagline{
	margin: 0 0 3em;
}
/* ~Word List */
.item{
	border-bottom: 1px dotted #ddd;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	padding: .5em 1em;
}
.item:nth-child(2n){
	background: #fcfcfc;
}
.item:hover{
	background: #ffe324;
	color: #222;
}
.item-header{
	font-size: .75em;
	font-weight: 700;
}
.word{
	flex-basis: 15%;
	font-weight: 700;
}
.meaning{
	flex-basis: 15%;
	font-weight: 700;
}
.correct{
	flex-basis: 20%;
	font-family: sans-serif;
}
.wrong{
	flex-basis: 15%;
}
.note{
	flex-grow: 2;
	flex-basis: 30%;
}
