<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="author" content="Wei Xia">
	<meta name="description" content="IT 设计行业英文术语聚合站">
	<link rel="stylesheet" href="/assets/styles.css?v=0fb56bf93ab46b40ae23355e41a74b5c">
	<meta property="og:url" content="http://ABC.Anyway.FM">
	<meta property="og:type" content="website">
	<meta property="og:title" content="IT 术语小词典">
	<meta property="og:description" content="来自 Anyway.FM 的 UI 设计行业英文术语聚合站">
	<meta property="og:image" content="https://s.anw.red/anyway.abc/preview.png">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="来自 Anyway.FM 的 UI 设计行业英文术语聚合站">
	<meta name="twitter:title" content="IT 术语小词典">
	<meta name="twitter:site" content="@anyway__fm">
	<meta name="twitter:image" content="https://s.anw.red/anyway.abc/preview.png">
</head>

<body>
	<header>
		<div class="inner">
			<h1>Name Undefined<sup>BETA</sup></h1>
			<div class="tagline">
				<ol>
					<li><span>01</span> IT 行业英文术语聚合</li>
					<li><span>02</span>配合本台<a href="https://Anyway.FM/terms-in-english/#title">第 62 期</a>、<a
							href="https://Anyway.FM/ui-terms-1/#title">第 38 期</a>节目服用效果更佳</li>
					<li><span>03</span>为啥下面标的都是美音？「我……乐……意……」</li>
					<li><span>04</span>其他方面的反馈和纠错可直接<a href="mailto:hello@anyway.fm">邮件我们</a></li>
				</ol>
			</div>
		</div>
	</header>
	<main id="abc">{{ content }}<audio id="voice-file" preload="none">
			<source id="audioSource" src=""></audio>
		<div class="ref">
			<h2><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g fill="none" stroke="#555" stroke-miterlimit="10" stroke-width="5" stroke-linejoin="round"
						stroke-linecap="round">
						<path
							d="M59.4 10.3l-5.7-5.7a9 9 0 0 0-12.7 0l-8.5 8.5a9 9 0 0 0 0 12.7l5.7 5.7a9 9 0 0 0 12.7 0l8.5-8.5a9 9 0 0 0 0-12.7zM31.5 38.2l-5.7-5.7a9 9 0 0 0-12.7 0L4.6 41a9 9 0 0 0 0 12.7l5.7 5.7a9 9 0 0 0 12.7 0l8.5-8.5a9 9 0 0 0 0-12.7z">
						</path>
						<path d="M18.1 46L46 18.1"></path>
					</g>
				</svg> <span>参考链接</span></h2>
			<ol>
				<li><a href="https://zhuanlan.zhihu.com/c_87416856"><span>01</span>知乎专栏：这个控件叫什么</a></li>
				<li><a href="https://developer.apple.com/ios/human-interface-guidelines/controls/buttons/"><span>02</span>Apple
						HIG 的 iOS 版中的部分控件</a></li>
			</ol>
		</div>
	</main>
	<div class="the-end">
		<p></p>To be Continued...
	</div>
	<footer>
		<div class="inner">© 2018 <a href="https://anyway.fm">Anyway.FM</a> 保留所有权利</div>
	</footer>
	<div class="mask mt"></div>
	<div class="mask mb"></div>
	<div class="mask mv ml"></div>
	<div class="mask mv mr"></div>
	<div class="mask mv ml2"></div>
	<div class="mask mv mr2"></div>
	<div class="x-corner x-corner-l"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
			<path d="M0 49.9L50 49.9C32.6 49.9 26.3 48.1 20 44.7 13.6 41.3 8.6 36.3 5.2 29.9 1.8 23.6 0 17.3 0-0.1L0 49.9Z"
				fill="#ffe324" /></svg></div>
	<div class="x-corner x-corner-r"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
			<path d="M0 49.9L50 49.9C32.6 49.9 26.3 48.1 20 44.7 13.6 41.3 8.6 36.3 5.2 29.9 1.8 23.6 0 17.3 0-0.1L0 49.9Z"
				fill="#ffe324" /></svg></div>
	<script>function playWordAudio(w) {
			word = w.toLowerCase();
			voiceFileUrl = `http://dict.youdao.com/dictvoice?audio=${word}&type=2`;
			const audio = document.getElementById("voice-file");
			document.getElementById('audioSource').src = voiceFileUrl;
			audio.load();
			audio.play();
			const wordEle = document.getElementById(word);
			wordEle.classList.add('playing');
			setTimeout(() => {
				wordEle.classList.remove('playing');
			}, 1000);
		}</script>
</body>

</html>