<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="author" content="Wei Xia">
	<meta name="description" content="程序员英语词汇宝典">
	<link rel="stylesheet" href="/assets/styles.css?v=0fb56bf93ab46b40ae23355e41a74b5c">
	<meta property="og:url" content="https://learn-english.dev/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="程序员英语词汇宝典">
	<meta property="og:description" content="程序员工作中应掌握的英文术语">
	<meta property="og:image" content="https://s.anw.red/anyway.abc/preview.png">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="程序员工作中应掌握的英文术语">
	<meta name="twitter:title" content="程序员英语词汇宝典">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<base target="_blank">
</head>

<body>
	<header>
		<div class="inner">
			<h1>程序员英语词汇宝典<sup>Beta</sup></h1>
			<div class="tagline">
				<ol>
					<li><span>01</span> 程序员工作中应掌握的英文术语</li>
					<li><span>02</span> 本站 Github <a
							href="https://github.com/Wei-Xia/most-frequent-technology-english-words">源代码</a>，欢迎打星⭐，提 issue</li>
				</ol>
			</div>
		</div>
	</header>
	<main id="abc">{{ content }}<audio id="voice-file" preload="none">
			<source id="audioSource" src=""></audio>
		<div class="ref">
			<h2><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g fill="none" stroke="#555" stroke-miterlimit="10" stroke-width="5" stroke-linejoin="round"
						stroke-linecap="round">
						<path
							d="M59.4 10.3l-5.7-5.7a9 9 0 0 0-12.7 0l-8.5 8.5a9 9 0 0 0 0 12.7l5.7 5.7a9 9 0 0 0 12.7 0l8.5-8.5a9 9 0 0 0 0-12.7zM31.5 38.2l-5.7-5.7a9 9 0 0 0-12.7 0L4.6 41a9 9 0 0 0 0 12.7l5.7 5.7a9 9 0 0 0 12.7 0l8.5-8.5a9 9 0 0 0 0-12.7z">
						</path>
						<path d="M18.1 46L46 18.1"></path>
					</g>
				</svg> <span>参考链接</span></h2>
			<ol>
				<li><a href="https://a-programmers-guide-to-english.harryyu.me/"><span>01</span>专为程序员编写的英语学习指南</a></li>
			</ol>
		</div>
	</main>
	<div class="the-end">
		<p></p>To be Continued...
	</div>
	<footer>
		<div class="inner">Made by <a href="https://weixia.dev/">Wei Xia</a> based on <a
				href="https://abc.anyway.fm/">Anyway.ABC</a></div>
	</footer>
	<script src="/assets/script.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142807294-1"></script>
	<script>window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-142807294-1');
	</script>
</body>

</html>
